<h1> List of Adopted Dogs </h1>

<ul>
  <% @adoptions.each do |adoption| %>
    <li><%= adoption.dog.name %> - <%= link_to "Show #{adoption.dog.name}", dog_path(adoption.dog) %></li>
  <% end %>
</ul>
<br>
