<h1> Shelter Information </h1>

<p><%= @shelter.name %></p>
<p>Physical Address: <%= @shelter.physical_address %></p>

<h3> List of Dogs </h3>

<div id="dog-information">
  <ol id="list-of-dogs"></ol>
</div>
