<h1>List of Comments</h1>

<% unless @comments.empty? %>
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.feedback %> - <%= link_to "Show Comment", adoption_comment_path(@adoption, comment) %></li>
      <% end %>
  </ul>
<% end %>
<br>
