<h1> Comment Information </h1>

<span id="new-comment-information"></span>

<%= link_to "Edit Comment", edit_adoption_comment_path(adoption_id: params[:adoption_id], comment_id: @comment.id) %>
<%= link_to "Delete Comment", adoption_comment_path(adoption_id: params[:adoption_id], comment_id: @comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>