<h1>List of Owners</h1>

<% unless @owners.empty? %>
  <ul>
    <% @owners.each do |owner| %>
      <li><%= owner.name %><%= link_to "Show #{owner.name}", owner_path(owner) %></li>
      <% end %>
  </ul>
<% end %>
<br>
